/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-base sm:text-sm;
  }
  
  body {
    @apply bg-gray-50;
  }
}

@layer components {
  .post-content {
    @apply text-lg sm:text-base;
  }
  
  .post-meta {
    @apply text-base sm:text-sm;
  }

  .prose .invisible {
    visibility: visible !important;
}
}